html, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background-image: url(../img/wood.jpg);
}

#dialogue {
	background-color: white;
	height: 7.6em;
	width: 15.5em;
	position: absolute;
	top: 23.8em;
	border: 3px solid black;
	border-radius: 1em;
	left: 11.3em;
	padding: .5em;
}

#bar {
	height: 748px;
	background-image: url(../img/bar.jpg);
	background-size: contain;
	background-position: center;
	margin: 0 auto;
	background-repeat: no-repeat;
	position: relative;
}

#pirate {
	width: 19.4em;
	position: absolute;
	transform: rotate(3deg);
	margin-top: 20.5em;
	margin-left: 28.7em;
}

.question {
	font-family: Georgia, serif, sans-serif;
	font-size: 1.1em;
	margin: 0;
}

.input {
	margin-left: 4em;
	margin-top: .5em;
}